In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
#print(os.listdir("../input"))

In [45]:
#data = pd.read_csv('../input/imbd-sf/data.csv')
data = pd.read_csv('m_data.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [46]:
len(data)

1890

# Предобработка датасета

In [47]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
# добавим колонку с прибылью
data['profit'] = data['revenue'] - data['budget']  

# процедура возвращает датафрейм с разверткой по жанрам по одному фильму
def df_genre(srt_genre,film_id):
    # создаем датафрейм из строки с жанрами
    dfg = pd.DataFrame(str(srt_genre).split('|'))
    # добавляем колонку с id фильма и заполняем её переданным
    dfg['imdb_id'] = film_id
    dfg.columns = ['a_genre','imdb_id']
    return dfg

# процедура возвращает датафрейм с разверткой по режиссерам по одному фильму
def df_director(srt_director,film_id):
    dfd = pd.DataFrame(str(srt_director).split('|'))
    dfd['imdb_id'] = film_id
    dfd.columns = ['a_director','imdb_id']
    return dfd

# процедура возвращает датафрейм с разверткой по актерам по одному фильму
def df_cast(srt_cast,film_id):
    dfc = pd.DataFrame(str(srt_cast).split('|'))
    dfc['imdb_id'] = film_id
    dfc.columns = ['a_cast','imdb_id']
    return dfc

# процедура возвращает датафрейм с разверткой по актерам по одному фильму
def df_companies(srt_companies,film_id):
    dfk = pd.DataFrame(str(srt_companies).split('|'))
    dfk['imdb_id'] = film_id
    dfk.columns = ['a_companies','imdb_id']
    return dfk



# инициализируем данные по датафреймам
data_genre = pd.DataFrame([],columns = ['a_genre','imdb_id'])
data_director = pd.DataFrame([],columns = ['a_director','imdb_id'])
data_cast = pd.DataFrame([],columns = ['a_cast','imdb_id'])
data_companies = pd.DataFrame([],columns = ['a_companies','imdb_id'])

for index, row in data.iterrows():
    # формируем датафрейм с жанрами
    data_genre = pd.concat([data_genre, df_genre(row.genres,row.imdb_id)], ignore_index=True)
    # формируем датафрейм с режиссерами
    data_director = pd.concat([data_director, df_director(row.director,row.imdb_id)], ignore_index=True)
    # формируем датафрейм с актерами
    data_cast = pd.concat([data_cast, df_cast(row.cast,row.imdb_id)], ignore_index=True)
    # формируем датафрейм с компаниями
    data_companies = pd.concat([data_companies, df_companies(row.production_companies,row.imdb_id)], ignore_index=True)

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [48]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
print(data[data['budget'] == data['budget'].max()].original_title)
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [49]:
print(data[data['runtime'] == data['runtime'].max()].original_title)
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [50]:
print(data[data['runtime'] == data['runtime'].min()].original_title)
answer_ls.append(3)

769    Winnie the Pooh
Name: original_title, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [51]:
print(round(data['runtime'].mean(),0))
answer_ls.append(2)

110.0

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [52]:
print(round(data['runtime'].median(),0))
answer_ls.append(1)

106.0

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [53]:
print(data[data['profit'] == data['profit'].max()].original_title)
answer_ls.append(5)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [54]:
print(data[data['profit'] == data['profit'].min()].original_title)
answer_ls.append(2)

491    The Warrior's Way
Name: original_title, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [55]:
print(data[data['profit'] > 0].imdb_id.count())
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [56]:
# находим все фильмы 2008 года
movies2008 = data[(data['release_year'] == 2008)]
# самый прибыльный
print(movies2008[movies2008['profit'] == movies2008['profit'].max()].original_title)
answer_ls.append(4)

600    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [57]:
# фильмы за период
movies1214 = data[(data['release_year'] >= 2012)&(data['release_year'] <= 2014)]
# самый убыточный
print(movies1214[movies1214['profit'] == movies1214['profit'].min()].original_title)

answer_ls.append(5)

1246    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [58]:
# подсчитываем количество жанров по датафрейму жанров
print(data_genre['a_genre'].value_counts().head(1))
answer_ls.append(3)

Drama    782
Name: a_genre, dtype: int64

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [59]:
# Прибыльные фильмы
profit_films = data[data['profit'] > 0]
# Объединение с таблицей жанров
joined = profit_films.merge(data_genre, on='imdb_id', how='left')
# Максимальная прибыль
print(joined['a_genre'].value_counts().head(1))

answer_ls.append(3)

Drama    560
Name: a_genre, dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [60]:
#  Подсчитываем количество по таблице режиссеров
print(data_director['a_director'].value_counts().head(1))
answer_ls.append(3)

Steven Soderbergh    13
Name: a_director, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [61]:
# Прибыльные фильмы
profit_films = data[data['profit'] > 0]
# объединяем с таблицей режиссеров
joined = profit_films.merge(data_director, on='imdb_id', how='left')
# Выбираем первый
print(joined['a_director'].value_counts().head(1))

answer_ls.append(4)

Ridley Scott    12
Name: a_director, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [62]:
# объединяем основной датафрейм с таблицей режиссеров
joined = data.merge(data_director, on='imdb_id', how='left')
# Группируем по режиссерам
group_df = joined.groupby(['a_director'])[['profit']].sum()
# Фильтруем по максимальному
print(group_df[group_df['profit'] == group_df['profit'].max()])
answer_ls.append(5)

                   profit
a_director
Peter Jackson  5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [63]:
# объединяем основной датафрейм с таблицей актеров
joined = data.merge(data_cast, on='imdb_id', how='inner')
# Группируем по актерам
group_df = joined.groupby(['a_cast'])[['profit']].sum()
# Фильтруем по максимальному
print(group_df[group_df['profit'] == group_df['profit'].max()])

answer_ls.append(1)

                 profit
a_cast
Emma Watson  6666245597

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [64]:
# Фильмы 2012 года
films_2012 = data[data['release_year'] == 2012]
# объединяем с таблицей актеров
joined = films_2012.merge(data_cast, on='imdb_id', how='left')
# Группируем по актерам
group_df = joined.groupby(['a_cast'])[['profit']].sum()
# Фильтруем по максимальному
print(group_df[group_df['profit'] == group_df['profit'].min()])

answer_ls.append(3)

                 profit
a_cast
Kirsten Dunst -68109207

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [65]:
# Находим высокобюджетные фильмы
films_hi = data[data['budget'] >  data['budget'].mean()]
# объединяем с таблицей актеров
joined = films_hi.merge(data_cast, on='imdb_id', how='left')
# Выводим первый
print(joined['a_cast'].value_counts().head(1))

answer_ls.append(3)

Matt Damon    18
Name: a_cast, dtype: int64

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [66]:
# Находим фильмы c Кейджем по таблице актеров
films_cage = data_cast[data_cast['a_cast'] == 'Nicolas Cage']
# объединяемся с основной таблицей
joined = films_cage.merge(data_genre, on='imdb_id', how='left')
# Выводим первый
print(joined['a_genre'].value_counts().head(1))

answer_ls.append(2)

Action    17
Name: a_genre, dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [67]:
# Объединяем таблицу студий с основной
joined = data_companies.merge(data, on='imdb_id', how='left')
# Выводим первый
print(joined['a_companies'].value_counts().head(1))

answer_ls.append(1)

Universal Pictures    173
Name: a_companies, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [68]:
# Фильмы 2015 года
films_2015 = data[data['release_year'] == 2015]
# Объединяем таблицу фильмов с таблицей компаний
joined = films_2015.merge(data_companies, on='imdb_id', how='left')
# Выводим первый
print(joined['a_companies'].value_counts().head(1))

answer_ls.append(4)

Warner Bros.    12
Name: a_companies, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [69]:
# Отфильтруем комедии в таблице жанров
films_comedy = data_genre[data_genre['a_genre'] == 'Comedy']
# Объединим комедии с основным датафреймом
joined_comedy = films_comedy.merge(data, on='imdb_id', how='left')
# Объединим полученное с таблицей компаний
joined_companies = joined_comedy.merge(data_companies, on='imdb_id', how='left')
# Выводим первый
print(joined_companies['a_companies'].value_counts().head(1))

answer_ls.append(2)

Universal Pictures    75
Name: a_companies, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [70]:
# Найдем фильмы 2012 года
films_2012 = data[data['release_year'] == 2012]
# Найдем обохединим полученное с таблицей студий
joined_companies = films_2012.merge(data_companies, on='imdb_id', how='left')
# Сгруппируем по компании
group_df = joined_companies.groupby(['a_companies'])[['profit']].sum()
# Фильтруем по максимальному
print(group_df[group_df['profit'] == group_df['profit'].max()])

answer_ls.append(3)

                       profit
a_companies
Columbia Pictures  2501406608

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [71]:
# НАйдем фильмы от Парамаунт
films_paramount = data_companies[data_companies['a_companies'] == 'Paramount Pictures']
# Объединим с основным датафреймом
joined_companies = films_paramount.merge(data, on='imdb_id', how='inner')
# Сгруппируем по названию фильма
group_df = joined_companies.groupby(['original_title'])[['profit']].sum()
# Фильтруем по минимальному
print(group_df[group_df['profit'] == group_df['profit'].min()])

answer_ls.append(1)

                        profit
original_title
K-19: The Widowmaker -64831034

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [72]:
# Сгруппируем основной датафрейм по годам
group_df = data.groupby(['release_year'])[['profit']].sum()
# Фильтруем по максимальному
print(group_df[group_df['profit'] == group_df['profit'].max()])

answer_ls.append(5)

                   profit
release_year
2015          18668572378

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [87]:
#films_Warner = data_companies[data_companies['a_companies'] =='Warner Bros.']
# Косяк №1 - в выборке должна присутствовать не 'Warner Bros.', а все компании содержащие 'Warner Bros.'
# Найдем все филмы студии
films_Warner = data_companies[data_companies['a_companies'].str.contains('Warner Bros.')]
# Объединимся с основной таблицей
joined_companies = films_Warner.merge(data, on='imdb_id', how='left')
# Сгруппируем полученное по годам
group_df = joined_companies.groupby(['release_year'])[['profit']].sum()
# Фильтруем по максимальному
print(group_df[group_df['profit'] == group_df['profit'].max()])

answer_ls.append(1)

                  profit
release_year
2014          2292949646

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [74]:
# процедура возвращает номер месяца из переданной строки
def mons_numb(datastr):
    point = datastr.find('/')
    return int(datastr[:point])

# добавляем колонку с номером месяца
data['mons'] = data['release_date'].apply(mons_numb)   
# выведем первую
print(data['mons'].value_counts().head(1))

answer_ls.append(4)

9    227
Name: mons, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [75]:
# процедура возвращает номер месяца из переданной строки
def mons_numb(datastr):
    point = datastr.find('/')
    return int(datastr[:point])

# добавляем колонку с номером месяца
data['mons'] = data['release_date'].apply(mons_numb)   
# фильтруем фильмы по интервалу
summer_film = data[(data['mons'] > 5) & (data['mons'] < 9)]
# считаем их количество
print(summer_film['imdb_id'].count())

answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [76]:
# процедура возвращает номер месяца из переданной строки
def mons_numb(datastr):
    point = datastr.find('/')
    return int(datastr[:point])

# добавляем колонку с номером месяца
data['mons'] = data['release_date'].apply(mons_numb)   
# найдем зимние фильмы
winter_film = data[data['mons'].isin([1, 2, 12])]
# объединим полученное с таблицей режиссеров
joined_companies = winter_film.merge(data_director, on='imdb_id', how='left') 
# Выводим первый
print(joined_companies['a_director'].value_counts().head(1))

answer_ls.append(5)

Peter Jackson    7
Name: a_director, dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [77]:
# Создаем сводную таблицу с колонками по месяцам и годами в строках
pivot = data.pivot_table(values=['profit'],
index=['release_year'],
columns=['mons'],
aggfunc='sum',
fill_value=0)

# Находим максимумы по годам
print(pivot.idxmax(axis=1).value_counts().idxmax())

answer_ls.append(2)

('profit', 6)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [78]:
# Добавим колонку с длиной названия
data['len_title'] = data['original_title'].str.len()
# Объединяем с основной таблицей
joined_companies = data_companies.merge(data, on='imdb_id', how='left') 
# группируем по компаниям с вычислением среденй длины названия по компании
group_df = joined_companies.groupby(['a_companies'])[['len_title']].mean()
# находим максимальное
print(group_df[group_df['len_title'] == group_df['len_title'].max()])

answer_ls.append(5)

                         len_title
a_companies
Four By Two Productions       83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [79]:
# Добавим колонку с со списком из слов и помещаем туда длину списка
data['word_title'] = data['original_title'].str.split()
data['word_title'] = data['word_title'].str.len()
# Объединяем с основной таблицей
joined_companies = data_companies.merge(data, on='imdb_id', how='inner') 
# группируем по компаниям с вычислением среденй длины названия по компании
group_df = joined_companies.groupby(['a_companies'])[['word_title']].mean()
# находим максимальное
print(group_df[group_df['word_title'] == group_df['word_title'].max()])

answer_ls.append(5)

                         word_title
a_companies
Four By Two Productions        12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [80]:
# Переведем названия фильмов в нижний регистр
data['word_title'] = data['original_title'].str.lower()

words_list = []
for index, row in data.iterrows():
    # формируем список слов по всему датафрейму
    words_list.extend(str(row.word_title).split())

# выводим длину списка который приведен к уникальным значениям    
print(len(set(words_list)))

answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [81]:
# нам нужно найти первый процент фильмов, лучшуих по рейтингу
# 1 процент фильмов это
one_percent = round(len(data)/100*1)
# сортироуем список по убыванию рейтинка
top_rating = data.sort_values(by='vote_average', ascending=False)
#Выводим первый процент отсортированного датафрйма
one_percent_top = top_rating.iloc[:one_percent-1].original_title.tolist()
# формируем списки ответов из данных платформы
ans_one = ['Inside Out', 'Gone Girl', '12 Years a Slave']
ans_two = ['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
ans_three = ['The Lord of the Rings: The Return of the King', 'Upside Down']
ans_four = ['300', 'Lucky Number Slevin']
ans_five = ['Upside Down', '300', 'Inside Out', 'The Lord of the Rings: The Return of the King']

ans_list = []
# Проверяем входят ли ответы в топ фильмов
if set(ans_one).issubset(one_percent_top):
    ans_list.append("1")

if set(ans_two).issubset(one_percent_top):
    ans_list.append("2")
    
if set(ans_three).issubset(one_percent_top):
    ans_list.append("3")
    
if set(ans_four).issubset(one_percent_top):
    ans_list.append("4")
    
if set(ans_five).issubset(one_percent_top):
    ans_list.append("5")

# Выведем получившийся список (должен состоять из одного значения - номера ответа)
print(ans_list)

answer_ls.append(1)

['1']

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [82]:
# Находим фильмы в которых снимается первая пара и посбчитываем их количество
jd_films = data_cast[data_cast['a_cast']=='Johnny Depp']
hbc_films = data_cast[data_cast['a_cast']=='Helena Bonham Carter']
jd_hbc_films = jd_films.merge(hbc_films, on='imdb_id', how='inner')

# вторая пара
hj_films = data_cast[data_cast['a_cast']=='Hugh Jackman']
im_films = data_cast[data_cast['a_cast']=='Ian McKellen']
hj_im_films = hj_films.merge(im_films, on='imdb_id', how='inner')

# третья пара
vd_films = data_cast[data_cast['a_cast']=='Vin Diesel']
pv_films = data_cast[data_cast['a_cast']=='Paul Walker']
vd_pv_films = vd_films.merge(pv_films, on='imdb_id', how='inner')

# четвертая пара
as_films = data_cast[data_cast['a_cast']=='Adam Sandler']
kj_films = data_cast[data_cast['a_cast']=='Kevin James']
as_kj_films = as_films.merge(kj_films, on='imdb_id', how='inner')

# пятая пара
dr_films = data_cast[data_cast['a_cast']=='Daniel Radcliffe']
rg_films = data_cast[data_cast['a_cast']=='Rupert Grint']
dr_rg_films = dr_films.merge(rg_films, on='imdb_id', how='inner')

# создадим датафрейм и найдем максимум
ans_df = pd.DataFrame([['1',len(jd_hbc_films)],['2',len(hj_im_films)],['3',len(vd_pv_films)],['4',len(as_kj_films)],['5',len(dr_rg_films)]], columns=['ans', 'films'])

# Выведем максимальное значение с номером ответа
print(ans_df[ans_df['films']==ans_df['films'].max()])

answer_ls.append(5)

  ans  films
4   5      8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [83]:
# Найдем все фильмы Тарантино
tar_films = data_director[data_director['a_director']=='Quentin Tarantino']
tar_joined = tar_films.merge(data, on='imdb_id', how='left')
# Найдем прибыльные фильмы Тарантино
profit_tar_films = tar_joined[tar_joined['profit'] > 0]


# Найдем все фильмы Soderbergh
sod_films = data_director[data_director['a_director']=='Steven Soderbergh']
sod_joined = sod_films.merge(data, on='imdb_id', how='left')
# Найдем прибыльные фильмы Soderbergh
profit_sod_films = sod_joined[sod_joined['profit'] > 0]


# Найдем все фильмы Rodriguez
rod_films = data_director[data_director['a_director']=='Robert Rodriguez']
rod_joined = rod_films.merge(data, on='imdb_id', how='left')
# Найдем прибыльные фильмы Rodriguez
profit_rod_films = rod_joined[rod_joined['profit'] > 0]

# Найдем все фильмы Nolan
nol_films = data_director[data_director['a_director']=='Christopher Nolan']
nol_joined = nol_films.merge(data, on='imdb_id', how='left')
# Найдем прибыльные фильмы Rodriguez
profit_nol_films = nol_joined[nol_joined['profit'] > 0]

# Найдем все фильмы Nolan
eas_films = data_director[data_director['a_director']=='Clint Eastwood']
eas_joined = eas_films.merge(data, on='imdb_id', how='left')
# Найдем прибыльные фильмы Rodriguez
profit_eas_films = eas_joined[eas_joined['profit'] > 0]



# создадим датафрейм и найдем максимум
ans_df = pd.DataFrame([['1',round(len(profit_tar_films)/len(tar_films),2)],
                       ['2',round(len(profit_sod_films)/len(sod_films),2)],
                       ['3',round(len(profit_rod_films)/len(rod_films),2)],
                       ['4',round(len(profit_nol_films)/len(nol_films),2)],
                       ['5',round(len(profit_eas_films)/len(eas_joined),2)]
                      ], columns=['ans', 'var'])

# Выведем максимальное значение с номером ответа
print(ans_df[ans_df['var']==ans_df['var'].max()])

answer_ls.append(4)

  ans  var
3   4  1.0

# Submission

In [84]:
len(answer_ls)

36

In [85]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4